body {
  font-family: Calibri
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0057b0;
}

ul.nav li {
  float: left;
}

ul.nav li.right {
  float: right;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #ddab51;
}

ul.nav li a:active {
  background-color: #ddab51;
}
